# Clustering

## Contents

## Introduction

It is an unsupervised machine learning task, involving discovering groups in data. Clustering helps with pattern discovery.

### Use cases:
- __data summarization__
    - clustering is a step for classification or outlier analysis
    - dimensionality reduction
- __collaborative filtering__
    - grouping of users with similar interests
- __customer segmentation__
    - grouping of customers
- __dynamic trend detection__
    - in social networks:  data is dynamically clustered in a streaming fashion and used to determine patterns of changes.
- __multimedia data analysis__
    - detecting similar areas in images, video, audio.
- __social network analysis__
    - detecting communities
    
### Validation  
- use __case studies__ to illustrate the subjective quality of the clusters
- __measures of the clusters__ (cluster radius or density)
    - can be biased (measures could favor different algorithms in a different way)
- labels can be given to data points - then __correlations of the clusters with the labels__ can be used
    - class labels may not always align with the natural clusters

In [29]:
import pandas as pd
import numpy as np
from importlib import reload
from datetime import datetime

In [72]:
df = pd.read_csv("../data/OnlineRetail.csv", encoding = 'unicode_escape')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-2011 12:50,4.95,12680.0,France

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [77]:
print(f"InvoiceNo {len(df.InvoiceNo.unique())}")
print(f"StockCode {len(df.InvoiceNo.unique())}")
print(f"CustomerID {len(df.InvoiceNo.unique())}")
print(f"Country {len(df.InvoiceNo.unique())}")

InvoiceNo 25900
StockCode 25900
CustomerID 25900
Country 25900

In [97]:
import tools as t
reload(t)

from tools.preprocessing import eda

data = eda.Dataset(
    features=['StockCode', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'],
    features_ohe=['StockCode', 'Country'],
    y = 'CustomerID'
)
print(data)

Data transformation class.
---------------------------
Inputted features: ['StockCode', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'].
Features encoded: ['StockCode', 'CustomerID', 'Country'].

In [98]:
df1 = data.get_transformed()
df1.info()

StockCode
CustomerID
Country
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Columns: 8483 entries, Quantity to Country_Unspecified
dtypes: float64(1), int64(1), object(1), uint8(8480)
memory usage: 4.3+ GB

In [99]:
df1

,Quantity,InvoiceDate,UnitPrice,StockCode_10002,StockCode_10080,StockCode_10120,StockCode_10123C,StockCode_10123G,StockCode_10124A,StockCode_10124G,...,Country_RSA,Country_Saudi Arabia,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified
0,6,2010-01-12,2.55,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,6,2010-01-12,3.39,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,8,2010-01-12,2.75,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6,2010-01-12,3.39,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,6,2010-01-12,3.39,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,12,2011-09-12,0.85,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541905,6,2011-09-12,2.10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541906,4,2011-09-12,4.15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541907,4,2011-09-12,4.15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541908,3,2011-09-12,4.95,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# TEST

In [92]:
a = {'a', 'b', 'c'}
b = {'a', 'b'}
b.issubset(a)

True

In [49]:
def _ohe(df, cols):
    """ Performs One Hot Encoding for features in `cols`.
    
    """
    for colname in cols:
        # get df of dummies from a column, where "prefix_" is name of the column the dummy comes from
        dummies = pd.get_dummies(df[colname]).add_prefix(f"{colname}_")
        # append dummies to df
        df = pd.concat([df, dummies], axis=1)
        # drop colname which was transformed into dummies
        df.drop(columns=colname, inplace=True)
    return df


_ohe(df1, ['Country', 'StockCode'])

,InvoiceNo,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country_Australia,Country_Austria,Country_Bahrain,Country_Belgium,...,StockCode_M,StockCode_PADS,StockCode_POST,StockCode_S,StockCode_gift_0001_10,StockCode_gift_0001_20,StockCode_gift_0001_30,StockCode_gift_0001_40,StockCode_gift_0001_50,StockCode_m
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12,2.55,17850,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,536365,WHITE METAL LANTERN,6,2010-01-12,3.39,17850,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12,2.75,17850,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12,3.39,17850,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12,3.39,17850,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,PACK OF 20 SPACEBOY NAPKINS,12,2011-09-12,0.85,12680,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541905,581587,CHILDREN'S APRON DOLLY GIRL,6,2011-09-12,2.10,12680,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541906,581587,CHILDRENS CUTLERY DOLLY GIRL,4,2011-09-12,4.15,12680,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541907,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-09-12,4.15,12680,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541908,581587,BAKING SET 9 PIECE RETROSPOT,3,2011-09-12,4.95,12680,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0