# Contents

__[1. Introduction](#Introduction)__  

__[2. Exploratory analysis and feature engineering](#Exploratory-analysis-and-feature-engineering)__  

__[3. Model Selection](#Model-Selection)__

# Introduction

Clustering is an unsupervised machine learning task, involving discovering groups in data. Clustering helps with pattern discovery. This project aims to use clustering approaches to perform customer segmentation on [Online Retail data](https://www.kaggle.com/datasets/vijayuv/onlineretail).


### Use cases:
- __data summarization__
    - clustering is a step for classification or outlier analysis
    - dimensionality reduction
- __collaborative filtering__
    - grouping of users with similar interests
- __customer segmentation__
    - grouping of customers
- __dynamic trend detection__
    - in social networks:  data is dynamically clustered in a streaming fashion and used to determine patterns of changes.
- __multimedia data analysis__
    - detecting similar areas in images, video, audio.
- __social network analysis__
    - detecting communities
    
### Validation  
- use __case studies__ to illustrate the subjective quality of the clusters
- __measures of the clusters__ (cluster radius or density)
    - can be biased (measures could favor different algorithms in a different way)
- labels can be given to data points - then __correlations of the clusters with the labels__ can be used
    - class labels may not always align with the natural clusters
    
    
### Approach

1. Define goals: find users that are similar in important ways to the business (producs, usage, demographics, channels, etc) and:
    - discover how business metrics differ between them.
    - use that information to improve existing models.
    - tailor marketing strategy to each customer segment.
    
    
2. Data:
    1. Behavioural data (transactions):
        - visits, usage, penetration responses, engagement, lifestyle, preferences, channel preferences, etc.
        - number of times a user purchased, how much, what products and categories.
        - number of transactions over a period of time, number of units.
    1. Additional data:
        1. User side:
            - time between purchases, categories purchased, peaks and valleys of transactions, units and revenue, share of categories, number of units and transactions per user, percentage of discounts per user, top N categories purchased per user.
        1. Company side:
            - seasonality variables, featured categories, promotions in place.
        1. Third party data:
            - demographics, interests, attitudes, lifestyles.
    

3. Implement a model:
    - model should be multivariate, multivariable, probabilistic (e.g. LCA).
    - run model (e.g. linear regression) for each segment separately, thus taking into account different user profiles.


4. Analyse returned segments:
    - some segments could be price sensitive, prefer one channel, have high penetration of a particular product, prefer a certain way of communication.
    - we expect to find a segment that is penetrated in one category, but not another.
    - profiling:
        - profile - what is shown to managers as a proof that the segments are different: 
            - KPIs.
            - indexes (e.g. take each segment's mean and divide by total mean to show how a segment is different from the rest in percentage).
    - name the segments (e.g. high revenue, low response, etc.)
    
    
5. Act based on learnt information:
    - e.g. if a segment is price sensitive, users should get a discount to motivate them to make a purchase.

# Loading modules and data

In [1]:
import pandas as pd
import numpy as np
from importlib import reload
from datetime import datetime

from sklearn.pipeline import Pipeline
from sklearn.cluster import SpectralClustering, OPTICS, MeanShift, KMeans, MiniBatchKMeans
from sklearn.mixture import GaussianMixture
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:
import tools as t
reload(t)

from tools.preprocessing import eda
from tools.modeling import clustering

data = eda.Dataset(
    features=['StockCode', 'InvoiceDate', 'Country', 'Quantity', 'UnitPrice', 'CustomerID'],
    features_ohe=['StockCode', 'Country'],
)
print(data)

Data transformation class.
---------------------------
Inputted features: ['StockCode', 'InvoiceDate', 'Country', 'Quantity', 'UnitPrice', 'CustomerID'].
---------------------------
Transformation steps:
1. Correct data types
2. Feature engineering: Revenue
3. One Hot Encoding of ['StockCode', 'Country']

# Preprocessing

In [3]:
df0 = data.get_transformed()

# Exploratory analysis and feature engineering

## Profiling variables

In [4]:
df_profiling = data.get_profiling_df()
df_profiling

,#_stockCode,#_InvoiceNo,avg_Q,avg_P,avg_Revenue,HighRevenueMonth
CustomerID,,,,,,
17850,312.0,35.0,5.426282,3.924712,16.950737,2.0
17850,312.0,35.0,5.426282,3.924712,16.950737,2.0
17850,312.0,35.0,5.426282,3.924712,16.950737,2.0
17850,312.0,35.0,5.426282,3.924712,16.950737,2.0
17850,312.0,35.0,5.426282,3.924712,16.950737,2.0
...,...,...,...,...,...,...
12680,52.0,4.0,8.519231,3.637885,16.592500,9.0
12680,52.0,4.0,8.519231,3.637885,16.592500,9.0
12680,52.0,4.0,8.519231,3.637885,16.592500,9.0
12680,52.0,4.0,8.519231,3.637885,16.592500,9.0
12680,52.0,4.0,8.519231,3.637885,16.592500,9.0

## Data transformation and Clustering variables

These are variables that will be used in clustering algorithm.

The following transformations will be applied to them:
- Observations with missing values will be dropped.
- One Hot Encoding will be used to encode categorical variables (`'StockCode', 'Country'`).
- We will also break down `InvoiceDate` into Year, Month, Day.
- `Description` will be dropped since strings can't be used in clustering algorithms.

In [5]:
df_clustering = data.get_clustering_df()
df_clustering

,Quantity,UnitPrice,CustomerID,InvoiceYear,InvoiceMonth,InvoiceDay,StockCode_10002,StockCode_10080,StockCode_10120,StockCode_10123C,...,Country_RSA,Country_Saudi Arabia,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified
0,6,2.55,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,6,3.39,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,8,2.75,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6,3.39,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,6,3.39,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,12,0.85,12680,2011,9,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541905,6,2.10,12680,2011,9,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541906,4,4.15,12680,2011,9,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541907,4,4.15,12680,2011,9,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541908,3,4.95,12680,2011,9,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_clustering.dropna(inplace=True)

In [7]:
df_clustering = df_clustering.iloc[:10000, :]
df_clustering

,Quantity,UnitPrice,CustomerID,InvoiceYear,InvoiceMonth,InvoiceDay,StockCode_10002,StockCode_10080,StockCode_10120,StockCode_10123C,...,Country_RSA,Country_Saudi Arabia,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified
0,6,2.55,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,6,3.39,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,8,2.75,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6,3.39,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,6,3.39,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14197,12,1.65,17735,2010,7,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14198,6,2.95,17735,2010,7,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14199,6,2.95,17735,2010,7,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14200,6,1.95,17735,2010,7,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14201,6,2.95,17735,2010,7,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

# Model Selection

In [8]:
import tools as t
reload(t)
from tools.modeling import clustering

clustering = clustering.Clustering(df_clustering)

In [10]:
df_clustering

,Quantity,UnitPrice,CustomerID,InvoiceYear,InvoiceMonth,InvoiceDay,StockCode_10002,StockCode_10080,StockCode_10120,StockCode_10123C,...,Country_RSA,Country_Saudi Arabia,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified
0,6,2.55,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,6,3.39,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,8,2.75,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6,3.39,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,6,3.39,17850,2010,1,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14197,12,1.65,17735,2010,7,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14198,6,2.95,17735,2010,7,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14199,6,2.95,17735,2010,7,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14200,6,1.95,17735,2010,7,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14201,6,2.95,17735,2010,7,12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
name = 'Kmeans'
# from sklearn.cluster import KMeans
model = KMeans(n_clusters=3, random_state=42)
steps = [
#     ('scaler', StandardScaler())
]
plot=True

model_kmeans, ypred_kmeans = clustering.check_model(name, model, steps, plot)

KMeans(n_clusters=3, random_state=42)

TypeError: '((array([  65,   82,   83, ..., 9990, 9991, 9992], dtype=int64),), 0)' is an invalid key

In [ ]:
df_clustering['clusters'] = ypred_kmeans
df_clustering